In [48]:
# https://stackoverflow.com/questions/16249736/how-to-import-data-from-mongodb-to-pandas

import dateutil
import pandas as pd
from pymongo import MongoClient

def _connect_mongo(host, port, username, password, db):
    """ A util for making a connection to mongo """

    if username and password:
        mongo_uri = 'mongodb://%s:%s@%s:%s/%s' % (username, password, host, port, db)
        conn = MongoClient(mongo_uri)
    else:
        conn = MongoClient(host, port)

    return conn[db]


def read_mongo(db, collection, query, host, port, username, password, no_id):
    """ Read from Mongo and Store into DataFrame """

    # Connect to MongoDB
    db = _connect_mongo(host=host, port=port, username=username, password=password, db=db)

    # Make a query to the specific DB and Collection
    cursor = db[collection].find(query)

    # Expand the cursor and construct the DataFrame
    df =  pd.DataFrame(list(cursor))

    # Delete the _id
    if no_id:
        del df['_id']
    
    return df

host = 'localhost'
port = 27017
username = None
password = None
no_id = True

ticker = 2303
dateStr = '2017-12-15T00:00:00.000Z'
myDatetime = dateutil.parser.parse(dateStr)
query = {'ticker':ticker,'date': myDatetime}

df = read_mongo('twstock', 'chips', query, host, port, username, password, no_id)
df

,date,number_1,number_10,number_11,number_12,number_13,number_14,number_15,number_16,number_2,...,shares_16,shares_2,shares_3,shares_4,shares_5,shares_6,shares_7,shares_8,shares_9,ticker
0,2017-12-08,192049,2190,901,284,123,75,593,528578,218488,...,2147483647,512832338,421473060,258344033,208285202,273568626,170413190,147560971,368510256,2303

Timestamp('2017-12-08 00:00:00')